<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>关于我们-星美汇</title>
		<link href="$!webPath/resources/style/system/front/default/css/xm_about.css" type="text/css" rel="stylesheet" />		
		<link href="$!webPath/resources/style/system/front/default/css/public.css" type="text/css" rel="stylesheet" />
		<link href="$!webPath/resources/style/system/front/default/css/public_auto.css" type="text/css" rel="stylesheet" />
		<link rel="shortcut icon" href="http://www.xingmeihui.com/upload/system/favicon.ico" type="image/x-icon"/>
		<style type="text/css">
			.nav_left h2 em{
			top:0;
			}
		</style>
	</head>
	<body>
		$!httpInclude.include("/top.htm") 
		$!httpInclude.include("/head.htm")
		$!httpInclude.include("/nav1.htm")
		<div class="xm_main">
			<div class="title">
				<a href="http://www.xingmeihui.com/">首页</a>
				<span>&gt;</span>&nbsp;关于星美&nbsp;<span>&gt;</span>&nbsp;关于我们
			</div>
			<div class="left">
				<h2>关于星美</h2>
				<ul class="about_side">
					<li><a class="focus" href="$!webPath/about.htm">关于我们</a></li>
					<li><a href="$!webPath/contact.htm">联系我们</a></li>
					<li><a href="$!webPath/friendly_link.htm">友情链接</a></li>
					<li><a href="http://www.xingmeihui.com/articlelist_help_47.htm">星美汇资讯</a></li>                    				
					<!-- <li><a href="#">企业文化</a></li>
					<li><a href="#">企业荣誉</a></li>
					<li><a href="#">广告服务</a></li>
					<li><a href="#">人才招聘</a></li> -->
				</ul>
			</div>
			<div class="right">
				<div class="content_about">
					<h1 class="tit">关于我们</h1>
					<p>星美集团2001年在北京注册成立。历经十多年拼搏，已经成长为大中华地区文化传媒领域的龙头企业之一，中国文化产业的重要市场力量，开创了中国文化传媒领域多个第一。星美集团投资领域遍及影院投资、020电商、影视制作、影视发行、文化经纪、文化旅游、时尚模特、移动互联网、广告营销、影视基地等全产业链，形成了具有国际化竞争实力的产业规模。</p>
					<p><img src="$!webPath/resources/style/system/front/default/images/xm_about.png" alt="" /></p>
					<p>2012年，星美集团成立中国第一家基于影院渠道的020电子商城—星美汇（www.xingmeihui.com），率先开辟影院“线上线下联动营销”的消费模式。以会员生活需求为导向，着力打造以影院为中心，结合成熟的O2O运作模式、配以星美读友“小橘帽”物流配送体系，打造影院周围两公里商业生态圈，建立周边优质家庭使用者，服务内容包括影视娱乐产品、通讯产品、生活服务产品、有机食品、家用商品、进口红酒、旅游产品、母婴产品、余额钱包等。</p>
					<h3>星美汇商城优势：</h3>
					<p>星美汇商城不仅拥有具有竞争力的价格体系和优质的售后服务体系，同时率先开辟影院“线上线下联动营销”的消费模式，并把供应链管理理念和意识融合到日常管理中，率先开辟影院“线上线下联动营销”的消费模式，引导以及服务于消费者在星美区域的消费习惯，星美汇的发展目标就是要打造一个提供娱乐、休闲、购物的全新平台。</p>
					<h3>星美汇商城配送服务：</h3>
					<h4>两公里闪配</h4>
					<p>星美汇影城店201家，基本全国覆盖；在星美汇影城店/社区店两公里范围内，可以送货上门，当天送达，看电影购物两不误。</p>
					<h4>自提</h4>
					<p>自提，可以提供用户只需在下单时选择“到店自提”的配送方式，订单成功后，可以到星美汇线下商城取货。取货时，消费者仅需输入订单号和提货码，或直接扫描提货二维码，即可完成身份验证。</p>
					<h4>全国送</h4>
					<p>星美汇商城与多家快递公司合作，市级、城镇等都可以送到，让你的购物生活更加便捷。</p>
					<h3>星美汇商城发展愿景（无所不购）：</h3>
					<p>1、星美汇社区店以星美影商城为中心，辐射影城周边2公里社区，为社区客户提供多元化线下服务，免费上门配送服务，实现商品、品牌与客户的零距离接触，建立客户对品牌商品的习惯性购买消费。</p>
					<p>2、星美汇商城商家引入，给商家商品销售渠道有更保障安全的平台，达到互赢互利的双赢目标。</p>
					<p>3、星美汇商城商品拓展，丰富商城产品，做到在星美汇商城无所不能购。</p>
				</div>
			</div>
		</div>
		$!httpInclude.include("/footer.htm")
	</body>
</html>