<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>联系我们-星美汇</title>
		<link href="$!webPath/resources/style/system/front/default/css/xm_about.css" type="text/css" rel="stylesheet" />
		<link rel="shortcut icon" href="http://www.xingmeihui.com/upload/system/favicon.ico" type="image/x-icon"/>
		<link href="$!webPath/resources/style/system/front/default/css/xm_about.css" type="text/css" rel="stylesheet" />		
		<link href="$!webPath/resources/style/system/front/default/css/public.css" type="text/css" rel="stylesheet" />
		<link href="$!webPath/resources/style/system/front/default/css/public_auto.css" type="text/css" rel="stylesheet" />
		<link rel="shortcut icon" href="http://www.xingmeihui.com/upload/system/favicon.ico" type="image/x-icon"/>
		<style type="text/css">
			.nav_left h2 em{
			top:0;
			}
		</style>
	</head>
	<body>
		$!httpInclude.include("/top.htm") 
		$!httpInclude.include("/head.htm")
		$!httpInclude.include("/nav1.htm")
		<div class="main">
			<div class="title">
				<a href="http://www.xingmeihui.com/">首页</a>
				<span>&gt;</span>&nbsp;关于星美&nbsp;<span>&gt;</span>&nbsp;联系我们
			</div>
			<div class="left">
				<h2>关于星美</h2>
				<ul class="about_side">
					<li><a href="$!webPath/about.htm">关于我们</a></li>
					<li><a class="focus" href="$!webPath/contact.htm">联系我们</a></li>
					<li><a  href="$!webPath/friendly_link.htm">友情链接</a></li>
					<li><a href="http://www.xingmeihui.com/articlelist_help_47.htm">星美汇资讯</a></li>  				
					<!-- <li><a href="#">企业文化</a></li>
					<li><a href="#">企业荣誉</a></li>
					<li><a href="#">广告服务</a></li>
					<li><a href="#">人才招聘</a></li> -->
				</ul>
			</div>
			<div class="right">
				<div class="content_about">
					<h1 class="tit">联系我们</h1>
					<h3>店铺加盟：</h3>
					<p>联系人： 赵女士/杨先生</p>
					<p>电  话：0755 - 83012292 分机 8387</p>
        			<p style="text-indent: 5em">&nbsp;0755 - 83012292 分机 8362</p>
					<p>邮 箱：yangyang@smimovie.com</p>
					<h3>客服热线：</h3>
					<p>热线1：10049</p>
					<p>热线2：400 011 8866</p>
				</div>
			</div>
		</div>
		$!httpInclude.include("/footer.htm")
	</body>
</html>