<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>$!config.title - $!{config.poweredby}</title>
	<link rel="shortcut icon" href="http://www.xingmeihui.com/upload/system/favicon.ico" type="image/x-icon"/>
	<link href="$!webPath/resources/style/system/front/default/css/xm_about.css" type="text/css" rel="stylesheet" />
	<link rel="shortcut icon" href="http://www.xingmeihui.com/upload/system/favicon.ico" type="image/x-icon"/>
	<link href="$!webPath/resources/style/system/front/default/css/xm_about.css" type="text/css" rel="stylesheet" />		
	<link href="$!webPath/resources/style/system/front/default/css/public.css" type="text/css" rel="stylesheet" />
	<link href="$!webPath/resources/style/system/front/default/css/public_auto.css" type="text/css" rel="stylesheet" />
	<script src="$!webPath/resources/js/jquery-1.6.2.js"></script>
	<style type="text/css">
			.nav_left h2 em{
			top:0;
			}
		</style>

</head>
<body>
	$!httpInclude.include("/top.htm") 
	$!httpInclude.include("/head.htm")
	$!httpInclude.include("/nav1.htm")
	
	
	<div class="activity_div1"></div>
		<div class="activity_div2"></div>
		<div class="activity_div3">
			<div class="activity_div3_center">
				<div class="activity_dl activity_dl_left"></div>
				<div class="activity_dl activity_dl_right"></div>
				<div class="activity_div3_content">
					 <ul class="activity_div3_list">
					 	<li>
					 		<a href="http://www.xingmeihui.com/goods_13105.htm" target="_blank">
					 			<img src="$!webPath/resources/style/system/front/default/images/fd_li3.jpg" />
					 		</a>
					 	</li>
					 	<li>
					 		<a href="http://www.xingmeihui.com/goods_13106.htm" target="_blank">
					 			<img src="$!webPath/resources/style/system/front/default/images/fd_li4.jpg" />
					 		</a>
					 	</li>
					 	<li>
					 		<a href="http://www.xingmeihui.com/goods_13108.htm" target="_blank">
					 			<img src="$!webPath/resources/style/system/front/default/images/fd_li5.jpg" />
					 		</a>
					 	</li>
					 	<li>
					 		<a href="http://www.xingmeihui.com/goods_13109.htm" target="_blank">
					 			<img src="$!webPath/resources/style/system/front/default/images/fd_li6.jpg" />
					 		</a>
					 	</li>
					 	<li>
					 		<a href="http://www.xingmeihui.com/goods_13123.htm" target="_blank">
					 			<img src="$!webPath/resources/style/system/front/default/images/fd_li1.jpg" />
					 		</a>
					 	</li>
					 	<li>
					 		<a href="http://www.xingmeihui.com/goods_13124_gcase.htm" target="_blank">
					 			<img src="$!webPath/resources/style/system/front/default/images/fd_li2.jpg" />
					 		</a>
					 	</li>
					 	<li>
					 		<a href="http://www.xingmeihui.com/goods_13252.htm" target="_blank">
					 			<img src="$!webPath/resources/style/system/front/default/images/fd_li7.jpg" />
					 		</a>
					 	</li>
					 	<li>
					 		<a href="http://www.xingmeihui.com/goods_13253.htm" target="_blank">
					 			<img src="$!webPath/resources/style/system/front/default/images/fd_li8.jpg" />
					 		</a>
					 	</li>
					 	<li>
					 		<a href="http://www.xingmeihui.com/goods_13254.htm" target="_blank">
					 			<img src="$!webPath/resources/style/system/front/default/images/fd_li9.jpg" />
					 		</a>
					 	</li>
					 	<li>
					 		<a href="http://www.xingmeihui.com/goods_13256.htm" target="_blank">
					 			<img src="$!webPath/resources/style/system/front/default/images/fd_li10.jpg" />
					 		</a>
					 	</li>
					 	<li>
					 		<a href="http://www.xingmeihui.com/goods_13255.htm" target="_blank">
					 			<img src="$!webPath/resources/style/system/front/default/images/fd_li11.jpg" />
					 		</a>
					 	</li>
					 	<li>
					 		<a href="$!webPath/mapPage.htm" target="_blank">
					 			<img src="$!webPath/resources/style/system/front/default/images/fd_li12.jpg" />
					 		</a>
					 	</li>
					 </ul>
				</div>
				<div class="activity_div3_foot"></div>
				<div class="activity_foot_link" style="text-align:center;padding-bottom:20px;">
				<!-- <a href="$!webPath/mapPage.htm" target="_blank">
						<img src="$!webPath/resources/style/system/front/default/images/maplink.png" />
					</a> -->	
				</div>
			</div>
			
		</div>
	 
	
	
	
	
	$!httpInclude.include("/footer.htm")
</body>
</html>