<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:task="http://www.springframework.org/schema/task"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd http://www.springframework.org/schema/task http://www.springframework.org/schema/task/spring-task.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd">
    <!-- 开启@AspectJ AOP代理 -->
    <aop:aspectj-autoproxy proxy-target-class="true"/>
    <!-- 任务调度器 -->
    <task:scheduler id="sync-order-scheduler" pool-size="1000"/>
    <!-- 任务执行器 -->
    <task:executor id="sync-order-executor" pool-size="1000"/>
    <!--开启注解调度支持 @Async @Scheduled-->
    <task:annotation-driven executor="sync-order-executor" scheduler="sync-order-scheduler"/>
</beans>